html {
  background-color:#111;
}
  
body {
  color:#222;
  font:90% sans-serif; 
  background-color:#222;
  min-height:100%;
  padding:1em 2em;
  width:1200px;
  margin:0 auto;
}

#main {
  background-color:#FFFFD1;
  padding:2em 1em;
}

#new-expense { 
  margin:0;
  padding:0;
}

.hidden {
  display:none;
}

#new-expense legend {
  position:relative;
  top:-5px;
  color:white;
}
#new-expense fieldset {
  margin:0;
  border:0;
  background-color:#7F8C6C;
  color:#222;
}

#new-expense input, 
#new-expense select, 
#new-expense label
{
  font-size:1.6em;
}

caption {
  text-align:left;
  padding-left:10px;
  font-size:.7em;
  font-weight:bold;
}

table {
  width:90%;
  margin-top:1em;
  border-collapse:collapse;
}

#expenses {
  width:80%;
  float:left;
}

#stats {
  width:20%;
  float:left;
}

#expenses .date td,
#stats .month td
{
  font-weight:bold;
  border-bottom:1px solid #333;
  padding-top:1em;
  font-size:80%;
  color:#444;
}

td {
  border-bottom:1px solid #ccc;
  padding:3px 10px;
}

#expenses .price {
  text-align:right;
  font-style:italic;
}

#expenses .category {
  font-variant:small-caps;
  text-transform:uppercase;
  font-size:70%;
}

