html {
  border-top: 3px solid black;
  font-family: helvetica, arial, sans-serif;
}

body {
  width: 980px;
  margin: 0 auto;
}

h1#logo {
  width:249px;
  height:30px;
  background:white url(../images/logo.png) no-repeat;
  text-indent:-1000em;
  overflow:hidden;
  float:left;
}

#greeting {
  float:right;
  color:white;
  background-color:black;
  padding:2px 10px;
  font-size:12px;
}

#greeting a {
  color:#ccc;
}

#main {
  clear:both;
  padding-top:10px;
  border-top:1px solid black;
  padding:10px;
}

#left {
  width: 470px;
  margin-right:20px;
  float:left;
}

#right {
  width: 470px;
  float:left;
}

.copy p {
  line-height:1.4em;
  font-size:13px;
}

#nav {
  clear:both;
  margin:0;
  padding:0;
  margin-bottom:2px;
}

#nav li {
  background:white;
  color:black;
  display:inline;
  border:1px solid black;
  border-bottom:0;
  padding:3px 10px;
  -webkit-border-radius:3px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:0px;
}

#nav a {
  color: #999;
  text-decoration:none;
}

th {
  text-align:left;
}
.money {
  font-family:monospace;
}

#expenses {
  border-collapse:collapse;
  width:100%;
}
#expenses td,
#expenses th {
  padding:3px 10px;
  padding-left:0;
}

#expenses .day th {
  border-bottom:1px solid #ccc;
  padding-top:2em;
}

.category {
  color:#ccc;
}
