@import url('reset.css');

/* Global Styles
------------------------------ */

body { margin: 0; font: normal 1em/1.5 Verdana, Arial, Helvetica, sans-serif; }
a:link    { color: #333; }
a:visited { color: #666; }
a:hover,
a:active  { color: #000; }

.hidden { display: none !important; }
.cleaner { height: 1px; clear: both; overflow: hidden;   }
/* Styles
------------------------------ */

/* Layout */

#page_container { width: 1000px; margin: 0 auto;  }

#bar { border: solid #CCC; border-width: 0 1px 1px 1px; font-size: 10px; height: 25px; line-height: 25px; color: #999; margin-bottom: 30px; }
#bar a { color: #999; }
#bar_left p { padding-left: 10px; }
#bar_right p { padding-right: 10px; text-align: right;  }

#header { height: 70px; background: url('../images/header_bgrd.gif') left top no-repeat; }
#header h1 { width: 100%; height: 100%; }
#header h1 a { display: block; width: 100%; height: 100%; text-indent: -1920px; overflow: hidden;     }

#page_content { padding: 40px 20px 20px 20px;  }

.col { float: left; overflow: hidden;  }
.col.w2 { width: 50%; }

.panel { width: 50%; float: left; overflow: hidden; margin-bottom: 40px; }
.panel .header { margin-bottom: 10px; }
.panel .content { padding-right: 20px; }

.panel .header,
.panel#expense_submit,
.panel#expense_submit input,
.panel#statistics { font: 36px Anivers, "Trebuchet MS", Verdana, sans-serif; color: #284346; }

.panel#statistics p { font-size: 24px; padding: 0 40px 20px 0; }

.panel#expense_submit label { font-size: 21px; width: 120px; float: left; padding: 7px 0; text-align: right; margin-right: 15px; }
.panel#expense_submit input { font-size: 21px; color: #505050; background: #f4f4f4; border: 1px solid #CCC; padding: 7px 7px 3px 7px; clear: both; }
.panel#expense_submit input#expense_category_name { width: 52%;  }
.panel#expense_submit .submit { display: block; clear: both; padding: 0; margin: 20px 0 0 135px; width: 269px; height: 40px; line-height: 44px; background: url('../images/button_expense_add.gif') left top no-repeat; border: none; color: #FFF; font-size: 21px; text-shadow: #2e4b4d 3px 3px 3px; cursor: pointer; }
.panel#expense_submit .cleaner { height: 15px;  }

.panel table { width: 99%; margin-left: 1px; margin-bottom: 20px; }
.panel table td,
.panel table th {  }
.panel table td a,
.panel table th a { text-decoration: none;  }

.panel table td,
.panel table th { padding: 4px 6px; }

.panel table thead td,
.panel table thead th { text-align: left; border-top: 0px solid #CCC; border-bottom: 1px solid #CCC; }

.panel table thead .price,
.panel table .price { text-align: right; width: 25%; border-right: none; }
.panel table thead .expense,
.panel table .expense { border-left: none; }

.panel table span.category,
.panel table span.category a {  color: #CCC; }



/* Mesages --- Information, Success, Errors */

p.notice {
	margin: 0 0 20px 0;
	padding: 1em 0;
}

p.notice .inner {
	
}

/* Rounded corners --- */
.panel table,
.panel table th,
.panel table td { 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.panel#expense_submit input { 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

#bar {
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}