/* Reset
------------------------------ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background-color: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Global Styles
------------------------------ */

body {
	margin: 0;
	background-color: #F0FBFE;
	color: #003F55;
	font: normal 1em/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a:link    { color: #333; }
a:visited { color: #666; }
a:hover,
a:active  { color: #000; }

h1 {
	margin: 0 0 -.5em;
	color: #A8C2CB;
	font-size: 1.3em;
	text-shadow: 0 1px 0 #FFF;
}
.hidden {
	display: none !important;
}



/* Misc
------------------------------ */

p.notice {
	margin: 0;
  padding: 1em 0;
	border-bottom: 1px solid #E3E489;
	background-color: #FEFFBE;
	color: #313200;
	font-weight: bold;
	text-align: center;
}



/* Styles
------------------------------ */

/* Layout */

#main {
	padding: 30px;
	font-size: .85em;
	overflow: hidden;
}
	#expenses {
		float: left;
	  width: 70%;
	}
	#stats {
		float: right;
	  width: 25%;
	}


/* Form */

fieldset {
	border-bottom: 1px solid #BFD5DD;
  background: #FFF url(../images/logo.png) no-repeat 97% center;
	font-size: .85em;
}
	fieldset p {
		margin: 0;
		padding: 1em 30px;
	}
	fieldset input,
	fieldset select,
	fieldset label {
		font-size: 1.1em;
	}


/* Table */

table {
  width: 100%;
  border-collapse: collapse;
}
	table td,
	table th {
		padding: .3em 0;
		border-bottom: 1px solid #D8E8ED;
	}
	table th {
		padding-top: 2em;
		border-color: #A8C2CB;
		color: #003F55;
		text-align: left;
	}
	
	
	/* Date */
	
	table tr.date td {
		padding-top: 2em;
	  border-color: #003F55;
	  color: #003F55;
		font-weight:bold;
	}
	
	
	/* Category */
	
	table td.category a{
		color: #A8C2CB;
		font-variant: small-caps;
		text-shadow: 0 1px 0 #FFF;
	  text-transform: uppercase;
    text-decoration: none;
	}
	
	
	/* Price */
	
	table th.price {
		text-align: right;
	}
	table td.price {
		font-weight: bold;
		text-align: right;
		text-shadow: 0 1px 0 #FFF;
	}
/* Pagination */
  .pagination {
    margin-top:1em;
  }
