<div id="left" class="copy">
<h2>What is Tefter?</h2>

<p>
Tefter (notebook) is a web based <em>free</em> application for personal expense tracking.
The features are loosely based on the methodology described in <a href="http://www.yourmoneyoryourlife.org/">Your Money or Your Life</a>.
</p>

<h2>Claim Back Your Life</h2>

<p>Originally, my main purpose was to figure out where do I spend my money (scratching my own itch).
The process was painful and elightening as time passed.</p>

<p>
At certain point, the stats gathered allowed me to make predictions on my financial state in a given period.
</p>

</div>

<div id="right" class="copy">

<h2>How Can I Use It?</h2>

<p><%= link_to 'Sign up', sign_up_path -%> and start recording your expenses on a daily basis. Quite easy, actually.</p>
<p>The categories you will use are up to you, but I usually try to keep <strong>around 5 to 10 categories</strong>.
<p>
Having too many categories will prevent you from seeing the big picture, due to numbers staying relatively small for each one.
On the contrary, too few categories don't work that well too.
</p>

<p>
Don't worry on screwing up at first, since you can always go back and change expenses categories and reorganize your taxonomy. I personaly did it twice after the second month.
</p>

<h2>Terms of Service</h2>

<p>I opted to go with the <a href="http://sam.zoy.org/wtfpl/COPYING">WTFPL</a> license. I promise not to look at, nor use your data in any way. Database backups are done daily, and you can always export your data.</p>
<p>In case you don&apos;t trust me, the source code is <a href="http://github.com/underlog/piggybank/">in github</a> &ndash; you can host it somewhere if you want to.</p>
</div>
